
<style>
    .game1 {
        margin: auto;
        margin-top: 20px;
        text-align: center;
        background: #000000;
        width: 100%;
    }

        .game1 img {
            background: #000000;
            width: 400px;
            height: auto;
            margin: auto;
            padding-top: 10px;
        }

        .game1 p {
            text-transform: uppercase;
            padding-top: 5px;
            padding-bottom: 20px;
        }

    .select {
        width: 50%;
        margin: auto;
    }

        .select .link {
            color: #ffffff;
        }

            .select .link:hover {
                color: #ff0000;
                text-decoration: none;
            }
    footer {
        text-align: center;
        color: #000000;
        font-size: 20px;
        padding-top: 30px;
    }
</style>


<div class="select">
    <a class="link" href="/Home/SpaceshipGame">
        <div class="game1">
            <img src="~/Images/game1.png" alt="img1" />
            <h2>Spaceship Game</h2>
            <p>Avoid objects in space and try to beat the highest score!</p>
        </div>
    </a>
</div>

<div class="select">
    <a class="link" href="/Home/NumberGame">
        <div class="game1">
            <img src="~/Images/game2.png" alt="img2" />
            <h2>Number Game</h2>
            <p>Hit the number keys as fast as you can and set the lowest score!</p>
        </div>
    </a>
</div>

<footer>&copy;Antonio Andrasek</footer>